* {
    padding: 0;
    margin: 0;
    font-family: Bubblegum Sans;
}

h1 {
    color: rgb(96, 236, 255);
}

#main1 {
    width: 100vw;
    height: 100vh;
}

img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logo {
    margin-left: 1%;
    margin-top: 1px;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    /* position: relative;  */
}


#camp {
    padding: 4px;
    position: absolute;
    top: 23px;
    /* Position the nav vertically centered */
    left: 63px;
    color: white;
    font-family: sans-serif;
    background-color: #000000;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    display: inline-block;

}

#navbar {
    height: 60px;
    position: relative;
    background-color: rgb(246, 251, 255);
    padding: 4px;
    border-bottom: 4px solid black;
    /* Add relative positioning to establish a containing block for the nav */
}

nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    border-radius: 7px;
    display: inline-block;
    margin: 0px 17px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: large;
    color: #fff;
    background-color: #000000;
}

nav ul li a:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4), 0 4px 10px 0 rgba(0, 0, 0, 0.6);

}

#main2 {
    width: 100%;
    height: 91%;
    display: flex;
    justify-content: start;
    align-items: start;
}

#headingc1 {
    position: sticky;
    top: 0px;
    z-index: 1;
    /* Added z-index */
    background: linear-gradient(45deg, #232323, #101010);
    color: #3688cf;
    /* Text color */
    padding: 10px;
    /* Adjust padding as needed */
    text-align: center;
}

#container1 {
    width: 24%;
    height: 100%;
    background: linear-gradient(45deg, #474747, #101010);
    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    overflow: auto;
    /* Enable vertical scrolling */
}

.active {
    color: yellow;
    font-size: 22px;
}

#container1 ul {
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
    color: rgb(255, 255, 255);
    font-size: 19px;
}

#container1 ul li {
    padding: 25px;
    display: block;
    text-align: center;
    /* Center text within li */
}

#container1 ul li a:hover {
    cursor: pointer;
    /* color: rgb(185, 185, 185); */
    font-size: 22px;
}

#container1 ul li a {
    display: block;
    padding: 5px;
    color: inherit;
    text-decoration: none;
}

#container1 ul li li a:hover {
    cursor: grab;
}

#container1 ul li li a {
    margin-left: 20%;
    text-align: start;
    font-size: 15px;
    list-style-type: disc;
}


#container2 {
    /* margin: 6px; */
    width: 100%;
    height: 100%;
    background-color: rgb(246, 251, 255);
    /* background: linear-gradient(45deg, #a7d6ff, #058aff); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    overflow: auto;
}

#container2 .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container2 .list li {
    width: 23%;
    /* 33.33% width for each column with 20px margin */
    margin: 40px;
    /* Adjust margin as needed */
    text-align: center;
}

#container2 .list li .content:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    background-color: #f0ffff;
}

#container2 .list li .content {
    border: 2px solid #000000;
    /* Example border style */
    list-style-type: none;
    border-radius: 7px;
    padding: 10px;
    /* Example padding */
}

#container2 .list li .content .thumbnail img {
    border-radius: 5px;
    max-width: 100%;
}


#container2 .list li .content .info {
    margin-top: 10px;
}

#container2 .list li a {
    text-decoration: none;
    font-size: 23px;
}

.boxes {
    width: 50%;
    height: 50%;
    z-index: 2;
}

#box1 {
    position: fixed;
    left: 0px;
    top: 0px;
    /* background-color: aqua; */
    animation: box1animation 3s ease-in-out 2s forwards;
}

#box2 {
    position: fixed;
    right: 0px;
    top: 0px;
    /* background-color: bisque; */
    animation: box2animation 3s ease-in-out 2s forwards;
}

#box3 {
    position: fixed;
    left: 0px;
    bottom: 0px;
    /* background-color: blueviolet; */
    animation: box3animation 3s ease-in-out 2s forwards;
}

#box4 {
    position: fixed;
    right: 0px;
    bottom: 0px;
    /* background-color: yellow; */
    animation: box4animation 3s ease-in-out 2s forwards;
}

@keyframes box1animation {
    0% {
        width: 50%;
        height: 50%;
    }

    100% {
        width: 0%;
        height: 0%;
        border-bottom-right-radius: 30%;
    }
}


@keyframes box2animation {
    0% {
        width: 50%;
        height: 50%;
    }

    100% {
        width: 0%;
        height: 0%;
        border-bottom-left-radius: 30%;
    }
}

@keyframes box3animation {
    0% {
        width: 50%;
        height: 50%;

    }

    100% {
        width: 0%;
        height: 0%;
        border-top-right-radius: 30%;
    }
}


@keyframes box4animation {
    0% {
        width: 50%;
        height: 50%;
    }

    100% {
        width: 0%;
        height: 0%;
        border-top-left-radius: 30%;
    }
}

::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #fafafa;
    border: solid 1px black;

    border-radius: 10px;
}