* {
    padding: 0;
    margin: 0;
    font-family: 'Bubblegum Sans', sans-serif;
    box-sizing: border-box;
    /* background-color: black;
    color: white; */
}

h1 {
    color: rgb(96, 236, 255);
}

img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#navbar {
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #45525e;
    padding: 4px;
    border-bottom: 3px solid #2b3d4f;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#camp {
    padding: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4), 0 4px 10px 0 rgba(0, 0, 0, 0.6);
    color: rgb(0, 0, 0);
    font-family: 'Bubblegum Sans', cursive;
    background-color: #16a085;
    border-radius: 10px;
    padding: 4px 8px;
    margin: 10px;
    font-size: 1.5rem;
}
#camp:hover {
    animation: campanim 0.5s linear forwards;
}

@keyframes campanim {
    0% {
        transform: rotate(0deg); /* Start with no rotation */
    }
    100% {
        transform: rotate(45deg); /* Rotate 45 degrees */
        color: white;
    }
}
nav {
    margin-left: auto;
    margin-right: 2%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    background-color: #34495e;
    border-radius: 20px;
    transition: background-color 0.2s ease;
}

nav ul li a:hover {
    background-color: #16a085;
    color: black;
}

nav ul li i {
    color: #fff;
}

nav ul li a:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4), 0 4px 10px 0 rgba(0, 0, 0, 0.6);
}

#main1 {
    width: 100vw;
    background: linear-gradient(45deg, #a7d6ff, #058aff);
    padding-top: 65px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

/* #main2 {
    width: 100%;
    height: calc(100% - 60px); 
    background: linear-gradient(45deg, #a7d6ff, #058aff);
    margin-top: 74px; 
} */
